<% for (var i = 0; i < sections.length; i++) { %>
<section class="source_section">
    <h2><%= sections[i].data.header %></h2>

    <% if (sections[i].data.description) { %>
        <%- sections[i].data.description %>
    <% } %>

    <% if (sections[i].data.markup) { %>
        <code class="src-html <% if (config.visibleCode) { %>source_visible<% } %>">
            <%= sections[i].data.markup %>
        </code>

        <div class="source_example">
            <%- sections[i].data.markup %>
        </div>
    <% } %>
</section>
<% } %>
